name: Run Gatling Enterprise Simulation

on:
  workflow_dispatch:
#  push:
#    branches:
#      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SIMULATION_ID: 'test_duxmix5y5tr1dywo3pkmxan84h'
  GATLING_ENTERPRISE_API_TOKEN: ${{ secrets.GATLING_ENTERPRISE_API_TOKEN }}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '25'
          cache: 'maven'
      - name: Build Gatling simulation
        run: mvn --batch-mode gatling:enterpriseDeploy
      - name: Gatling Enterprise Action
        uses: gatling/enterprise-action@v1
        with:
          simulation_id: ${{ env.SIMULATION_ID }}
          extra_system_properties: > 
            {
              "users": 1,
              "duration": 200
            }
          wait_for_run_end: false
